<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}CodeCereal{% endblock %}</title>
    <link href="{{ STATIC_URL }}img/favicon.png" rel='shortcut icon'/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <!-- Top bar -->
    <div class="topbar">
      <div class="fill">
        <div class="container">
          {% block topbar %}
            <a class="brand" href="{% url home %}">CodeCereal</a>
            <nav>
              <ul class="nav">
                <li><a href="{% url blog:posts %}">Blog</a></li>
                <li><a href="{% url about %}">About</a></li>
                <li><a href="{% url contact %}">Contact</a></li>
              </ul>
            </nav>
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <!--  -->
      <header class="hero-unit">
        {% block header %}
          <hgroup>
            <h1>CodeCereal</h1>
            <h2>A personal blog about computing, science and the universe.</h2>
          </hgroup>
          <p><a class="btn primary large">Dive Into &raquo;</a></p>
        {% endblock %}
      </header>

      {% block content %}
      {% endblock %}

      <footer>
        {% block footer %}
        {% endblock %}
        <p>&copy; Daker Fernandes Pinheiro 2011</p>
      </footer>
    </div>
  </body>
</html>

