{% extends "base.html" %}

{% block head %}
<!-- <link rel="alternate" type="application/atom+xml" title="CodeCereal feed" href="/feed/" /> -->
{% endblock %}

{% block content %}
  {% if posts %}
    <div class="row">
      {% for post in posts %}
        {% include "blog/post_summary.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert-message warning">
      <a class="close" href="#">×</a>
      <p><strong>Is not mom!</strong> I'm having some issue with the blog.</p>
    </div>
  {% endif %}
{% endblock %}
